# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Django
db.sqlite3
staticfiles/
media/

# Environment
.env

# Virtual envs
.venv/
env/
venv/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
